.frreport {
border:/*main-border-width*/0px solid /*main-border-color*/black;
display:-moz-inline-stack;
display:inline-block;
_overflow:hidden;
zoom:1;
*display:inline;
background-color:/*main-background-color*/white;
color:/*main-text-color*/black;
font-family:Tahoma, Geneva, sans-serif;
font-size:/*main-font-size*/10px;
font-style:normal;
font-weight:normal;
}

.frreport .frtoolbar input {
-webkit-appearance:none;
padding:0;
margin:0;
}

.frreport .frtoolbar input[type="text"] 
{
	width:auto;
}

.frreport .frtoolbar 
{
//border-bottom:/*toolbar-border-width*/1px solid /*toolbar-border-color*/black;
vertical-align:middle;
color:/*toolbar-text-color*/black;
background:/*toolbar-background-color*/#ebebeb /*toolbar-background-url*/url(/Web/Toolbar/ToolbarBackground.gif) center repeat-x;
height:/*toolbar_height*/40px;
min-width:/*toolbar-width*/800px;
width:100% !important; 
width:/*toolbar-width*/100%;
}
.frreport .frtoolbar .space {
visibility:hidden;
width:100%;
height:32%; 
float:left;
}
.frreport .frtoolbar .input {
border:0;
background:/*toolbar-input-background-color*/#f8f8f8;
font-size:/*toolbar-font-size*/12px;
padding-top:3px;
padding-bottom:3px;
margin-top:-2px;
-moz-border-radius:2px;
-webkit-border-radius:2px;
border-radius:2px; 
-khtml-border-radius:2px;
}
.frreport .frtoolbar .delim {
padding:3px 5px 3px 5px!important;
}
.frreport .frtoolbar .input:hover {
background:/*toolbar-input-selected-background-color*/#fff;
}
.frreport .frtoolbar .center {
text-align:center;
}
.frreport .frtoolbar .left {
text-align:left;
}
.frreport .frtoolbar .tr, .frreport .frtoolbar .td {  
position:relative;
float:left;
}
.frreport .frtoolbar .td {
text-align:center;
}
.frreport .frtoolbar img {
border:0;
}
.frreport .divider {
width:10px;
}
.frreport .nav {
width:16px;
cursor:pointer;
border:none; 
}
.frreport .round {
box-shadow:2px 2px 5px #777;
-webkit-box-shadow:2px 2px 5px #777;
-moz-box-shadow:2px 2px 5px #777;
}
.frreport #frbody {
overflow:auto;
padding-left:/*body-padding-left*/5px;
padding-right:/*body-padding-right*/5px;
padding-top:/*body-padding-top*/5px;
padding-bottom:/*body-padding-bottom*/5px;
height:/*body-height*/700px; 
width:/*body-width*/500px;
}
.frreport ul {
list-style:none; 
margin:0; 
padding:0;
}
.frreport .radio {
list-style:none;
}
.frreport li ul {
position:absolute; 
display:none; 
padding:0;
text-align:left;
white-space:nowrap;
border:/*menu-border-width*/1px solid /*menu-border-color*/#888;
background-color:/*menu-background-color*/#f0f0f0;
}
.frreport .menuitem {
display:block;
text-align:left;
width:240px;
}
.frreport .radioitem {
display:block;
text-align:left;
width:120px; 
}
.frreport .checked {
background:/*toolbar-checkbox-url*/url("/Web/Toolbar/Checkbox.gif") no-repeat 7% 60%;
}
.frreport .menutext {
padding:0.4em 1em 0.4em 1em!important; 
color:/*menu-text-color*/#444; 
cursor:pointer;
font-size:/*toolbar-font-size*/12px;
font-weight:normal;
border:0;
text-align:left;
width:100%; 
background-color:/*menu-background-color*/#f0f0f0;
}
.frreport .padleft {
padding-left:2em!important; 
}
.frreport li .menutext:hover {
color:/*menu-selected-text-color*/#fff; 
background-color:/*menu-selected-background-color*/#bbbbbb; 
}
.frreport li:hover ul { 
display:block; 
}

.frreport .export_button {
background:/*toolbar-image-url*/url("/Web/Toolbar/Export.gif") no-repeat;
width:16px;
height:16px;
background-position:-63px 0;
}
.frreport .print_button {
background:/*toolbar-image-url*/url("/Web/Toolbar/Print.gif") no-repeat;
width:16px;
height:16px;
background-position:-79px 0;
}
.frreport .zoom_button {
background:/*toolbar-image-url*/url("/Web/Toolbar/Zoom.gif") no-repeat;
width:16px;
height:16px;
background-position:-127px 0;
}
.frreport .settings_button {
background:/*toolbar-image-url*/url("/Web/Toolbar/Settings.gif") no-repeat;
width:16px;
height:16px;
background-position:-143px 0;
}
.frreport .refresh_button {
background:/*toolbar-image-url*/url("/Web/Toolbar/Refresh.gif") no-repeat;
width:16px;
height:16px;
background-position:-95px 0;
}
.frreport .first_button {
background:/*toolbar-image-url*/url("/Web/Toolbar/First.gif") no-repeat;
width:16px;
height:16px;
background-position:-15px 0;
}
.frreport .prev_button {
background:/*toolbar-image-url*/url("/Web/Toolbar/Prev.gif") no-repeat;
width:16px;
height:16px;
background-position:0px 0;
}
.frreport .next_button {
background:/*toolbar-image-url*/url("/Web/Toolbar/Next.gif") no-repeat;
width:16px;
height:16px;
background-position:-31px 0;
}
.frreport .last_button {
background:/*toolbar-image-url*/url("/Web/Toolbar/Last.gif") no-repeat;
width:16px;
height:16px;
background-position:-47px 0;
}
.frreport .search_button {
background:/*toolbar-image-url*/url("/Web/Toolbar/Search.gif") no-repeat;
width:16px;
height:16px;
background-position:-111px 0;
}

.frreport .export_button:disabled {
background:/*toolbar-image-disabled-url*/url("/Web/Toolbar/Export.gif") no-repeat;
background-position:-63px 0;
}
.frreport .print_button:disabled {
background:/*toolbar-image-disabled-url*/url("/Web/Toolbar/Print.gif") no-repeat;
background-position:-79px 0;
}
.frreport .zoom_button:disabled {
background:/*toolbar-image-disabled-url*/url("/Web/Toolbar/Zoom.gif") no-repeat;
background-position:-127px 0;
}
.frreport .settings_button:disabled {
background:/*toolbar-image-disabled-url*/url("/Web/Toolbar/Settings.gif") no-repeat;
background-position:-143px 0;
}
.frreport .refresh_button:disabled {
background:/*toolbar-image-disabled-url*/url("/Web/Toolbar/Refresh.gif") no-repeat;
background-position:-95px 0;
}
.frreport .first_button:disabled {
background:/*toolbar-image-disabled-url*/url("/Web/Toolbar/First.gif") no-repeat;
background-position:-15px 0;
}
.frreport .prev_button:disabled {
background:/*toolbar-image-disabled-url*/url("/Web/Toolbar/Prev.gif") no-repeat;
background-position:0px 0;
}
.frreport .next_button:disabled {
background:/*toolbar-image-disabled-url*/url("/Web/Toolbar/Next.gif") no-repeat;
background-position:-31px 0;
}
.frreport .last_button:disabled {
background:/*toolbar-image-disabled-url*/url("/Web/Toolbar/Last.gif") no-repeat;
background-position:-47px 0;
}
.frreport .search_button:disabled {
background:/*toolbar-image-disabled-url*/url("/Web/Toolbar/Search.gif") no-repeat;
background-position:-111px 0;
}

.frreport .tab
{
padding:0.2em 0.5em 0.2em 0.5em!important;
margin: -0.2em 0.1em 0em 0.3em!important;
color:/*menu-text-color*/#444; 
border:/*menu-border-width*/1px solid /*menu-border-color*/#888;
background-color:/*menu-background-color*/#f0f0f0;
font-size: 12px;
font-style:normal;
font-weight:normal;
}

.frreport .tabselected, .frreport .tab:hover
{
color:/*menu-selected-text-color*/#fff; 
background-color:/*menu-selected-background-color*/#bbbbbb; 
}
