  <div class="frtoolbar">
    <div class="space"></div>
    <div class="tr">
    	<!--export-menu-->
    	<!--print-menu-->
    	<!--zoom-menu-->
    	<!--settings-menu-->
    	<!--refresh-button-->
    	<!--navigation-->
     </div>
     <div class="tr" style="float:right">
    	<!--search-->
    	<div class="td divider">&nbsp;</div>
    </div>        
    <!--tabs-->
    <!--reportid-->   
  </div>
